.editName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ajouté pour centrer verticalement */
}

.inputBox {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.btnBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center; /* Ajouté pour centrer horizontalement */
}

.btnBox button {
	width: 100px;
	height: 25px;
	background-color: #ffffff;
	color: #00bc77;
	border: 2px solid #00bc77;
	border-radius: 2px;
}

.editName::placeholder {
	font: lighter;
	color: red;
}